.track-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border: 1px solid #444;
  border-radius: 0;
  background-color: transparent;
  color: white;
  margin: 2px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  height: 60px;
  font-family: 'milkman', sans-serif;
}

.track-album-art {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  flex-shrink: 0;
}

.track-details {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  overflow: hidden;
}

.track-name,
.track-artist,
.track-album {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 15px;
}

.track-name {
  font-weight: bold;
  flex: 2;
}

.track-artist {
  flex: 1;
  color: #bbb;
}

.track-album {
  flex: 1;
  color: #bbb;
  text-align: right;
}

.track-duration {
  color: #bbb;
  flex-shrink: 0;
}
