@font-face {
  font-family: 'milkman';
  src: url('../../public/fonts/milkman.ttf') format('truetype');
}

@font-face {
  font-family: 'General Sans';
  src: url('../../public/fonts/GeneralSans-Regular.otf') format('opentype');
}

.user-profile .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90vw;
  margin: 0 auto;
  padding: 3vh;
}

.user-profile #back-btn {
  background: transparent;
  border: none;
  color: #1ED760;
  font-size: 3vw;
  cursor: pointer;
  margin-left: -8vh;
}

.user-profile .top-artists,
.user-profile .top-tracks {
  margin-bottom: 4vh;
  font-family: "General Sans", sans-serif;
  font-size: large;
}

.user-profile .artist-info,
.user-profile .track-info {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-bottom: 2vh;
}

.user-profile .artist-circle,
.user-profile .track-circle {
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50%;
  border: 0.1vw solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile .circle-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile #go-btn {
  background-color: #1ED760;
  border: none;
  padding: 1vh 3vw;
  border-radius: 30px;
  font-size: 1.5vw;
  cursor: pointer;
  color: #000;
  transition: background-color 0.3s;
  font-family: "General Sans", sans-serif;
}

.user-profile #go-btn:hover {
  background-color: #13b943;
}

.user-profile .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding: 4vh;
}

.user-profile .header {
  text-align: right;
}

.user-profile .header h1 {
  font-size: 3.5vw;
  margin: 0;
  font-family: 'milkman', sans-serif; 
  text-transform: lowercase;
}

.user-profile .favorites {
  color: #1ED760; 
  font-size: 4.5vw;
  font-family: 'Ladi Gross', sans-serif; 
  margin-top: -1vh; 
}

.user-profile .main-circle {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  border: 0.1vw solid #ffffff;
  align-items: center;
  margin: 10vh 0;
}

.user-profile .profile-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile .user-name {
  color: #ffffff;
  font-size: 2.5vw;
  font-family: "milkman", sans-serif;
  text-align: center;
  text-transform: lowercase;
}
