.user-profile {
    text-align: center;
    padding: 20px;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 80vh;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
}

#back-btn {
    background: transparent;
    border: none;
    color: #1ED760;
    font-size: 2rem;
    cursor: pointer;
}

.top-artists, .top-tracks {
    margin-bottom: 2rem;
    font-family: "General Sans", sans-serif;
}

.artist-info, .track-info {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: "General Sans", sans-serif;
}

.artist-circle, .track-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

ol li {
    margin-bottom: 0.5rem;
}

.go-button {
    text-align: center;
}

#go-btn {
    background-color: #1ED760;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    color: #000;
    transition: background-color 0.3s;
    font-family: "General Sans", sans-serif;
}

#go-btn:hover {
    background-color: #1ED760;
}

.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  padding: 6rem;
  margin-left: auto;
  width: 100%;
  max-width: 1920px;
}

.header {
  text-align: right;
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 3rem;
  margin: 0;
  font-family: "milkman", sans-serif;
}

.favorites {
    font-style: italic;
    color: #1ED760;
    font-size: 3rem;
    font-family: 'Ladi Gross', sans-serif;
}

.main-circle {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  position: relative;
  align-self: flex-end;
}

.profile-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}

.user-name {
    color: #1ED760;
    font-size: 2rem;
    z-index: 1;
    text-align: center;
    margin-top: 350px;
    font-family: "milkman", sans-serif;
}