@font-face {
    font-family: 'milkman';
    src: url('../../public/fonts/milkman.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'General Sans';
    src: url('../../public/fonts/GeneralSans-Regular.otf') format('opentype');
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 5%;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5%;
    padding-top: 5vh;
    position: relative;
  }
  
  .stats-button {
    position: absolute;
    top: 2%;
    left: 2%;
    background: transparent;
    border: none;
    color: #00ff00;
    font-size: 2vw;
    cursor: pointer;
  }
  
  header h1 {
    font-size: 4vw;
    margin: 0;
    font-weight: normal;
    font-family: 'milkman', Arial, sans-serif;
    text-transform: uppercase;
  }
  
  header .highlight-text {
    color: #00ff00;
    font-size: 5vw;
    font-family: 'Saint', Arial, sans-serif;
    letter-spacing: 0.2vw;
  }
  
  header p {
    font-size: 1.2vw;
    text-align: center;
    font-family: 'General Sans', sans-serif;
    margin-top: 1vh;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 5%;
    font-size: 1vw;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 2vw;
    font-family: 'General Sans', sans-serif;
  }
  
  .logout-button {
    background: transparent;
    color: #fff;
    border: 0.1vw solid #fff;
    padding: 0.5vh 1.5vw;
    cursor: pointer;
    font-family: 'General Sans', sans-serif;
    position: fixed;
    bottom: 2%;
    right: 2%;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #00ff00;
    color: #000;
  }

