@font-face {
  font-family: 'milkman';
  src: url('../../public/fonts/milkman.ttf') format('truetype');
}

@font-face {
  font-family: 'General Sans';
  src: url('../../public/fonts/GeneralSans-Regular.otf') format('opentype');
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100vh; 
  background-color: black;
  color: white;
  text-align: left; 
  margin-left: 3rem;
}

.landing-header {
  margin-top: 3rem;
  text-align: left; 
}


.landing-header h1 {
  font-family: 'General Sans', sans-serif;
  font-size: 2.5rem;
  text-transform: lowercase;
  text-align: left;
}

.classify-highlight {
  color: #1db954;
  font-family: 'Ladi-Gross', sans-serif; /* Use Milkman for 'CLASSIFY' */
  font-size: 5rem;
  letter-spacing: 0.1rem;
  text-align: left;
  text-transform: uppercase;
}

.landing-header p {
  font-family: 'General Sans', sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
  line-height: 1.5;
  text-align: left;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.animation-placeholder {
  width: 150px;
  height: 150px;
  border: 2px solid white;
}

.landing-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.landing-footer a {
  font-family: 'General Sans', sans-serif;
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
}

.landing-footer a:hover {
  text-decoration: underline;
}
