.App {
  text-align: start;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes up the full viewport height */
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face {
  font-family: 'milkman';
  src: url('../public/fonts/milkman.ttf') format('truetype'); 
}

h1 {
  color:azure;
  font-family: 'milkman', sans-serif;
  padding-left: 3%;
  margin-top: 10%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  color:blue;
  font-size: calc(10px + 2vmin);
  height: auto;
}


